<div class="node node-instance">
		<div class="input">
			<span class="interface"></span>
		</div>
		<div class="output">
			<span class="interface"></span>
		</div>
	<span class="circle"></span>
	<span class="icon"></span>
	<span class="type">{{type}}</span>
	<span class="name">{{name}}</span>
</div>